<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>Старая орфография</title>
    </head>
    <body>
        <!-- Шапка -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Дореволюционная орфография</a>
				</div>
    			<div id="navbar" class="collapse navbar-collapse">
    				<ul class="nav navbar-nav">
    					<li><a href="/">Главная</a></li>
    					<li><a href="/news">Новости</a></li>
    					<li class="active"><a href="/test">Тест</a></li>
    				</ul>
    			</div>
		    </div>
		</nav>

        <!-- Основная часть -->
        <div class="container theme-showcase" role="main">

		    <!-- Заголовок -->
			<div class="jumbotron">
				<h1>Дореволюционная орфография</h1>
                <h2><i>Тест</i></h2>
			</div>

            <!-- Заголовок раздела -->
            <div class="well">
                <h2>Как хорошо вы знаете дореволюционную орфографию?</h2>
                <h3>Инструкция</h3>
                <p>Вам даны слова в современной орфографии. Из двух вариантов ниже выберите тот, который считаете верным
                для дореволюционной орфографии. Как только закончите, нажмите на кнопку "Посмотреть результат", чтобы
                узнать, как хорошо вы справились с заданием.</p>
            </div>

            <!-- Тест (форма) -->
            <form action="/test_result">
                <!-- Вопросы -->
                <div class="col-md-6">
                    <p>Месте: <br />
                        <input type="radio" name="q1" value="true"> мѣстѣ<br />
                        <input type="radio" name="q1" value="false"> мѣсте<br />
                    </p>
                    <p>(он) Сер: <br />
                        <input type="radio" name="q2" value="true"> сѣръ<br />
                        <input type="radio" name="q2" value="false"> серъ<br />
                    </p>
                    <p>Нега: <br />
                        <input type="radio" name="q3" value="false"> нега<br />
                        <input type="radio" name="q3" value="true"> нѣга<br />
                    </p>
                    <p>Смешение: <br />
                        <input type="radio" name="q4" value="false"> смѣшение<br />
                        <input type="radio" name="q4" value="true"> смѣшеніе<br />
                    </p>
                    <p>(в каком-то) Падеже: <br />
                        <input type="radio" name="q5" value="false"> падеже<br />
                        <input type="radio" name="q5" value="true"> падежѣ<br />
                    </p>
                </div>
                <div class="col-md-6">
                    <p>(о) Ружье: <br />
                        <input type="radio" name="q6" value="false"> ружье<br />
                        <input type="radio" name="q6" value="true"> ружьѣ<br />
                    </p>
                    <p>Оне (устаревшее местоимениее 3pl.f): <br />
                        <input type="radio" name="q7" value="false"> оне<br />
                        <input type="radio" name="q7" value="true"> онѣ<br />
                    </p>
                    <p>Велено: <br />
                        <input type="radio" name="q8" value="true"> велѣно<br />
                        <input type="radio" name="q8" value="false"> велено<br />
                    </p>
                    <p>Сесть: <br />
                        <input type="radio" name="q9" value="true"> сѣсть<br />
                        <input type="radio" name="q9" value="false"> сесть<br />
                    </p>
                    <p>Певчий: <br />
                        <input type="radio" name="q10" value="true"> пѣвчій<br />
                        <input type="radio" name="q10" value="false"> певчий<br />
                    </p>
                </div>
                <!-- Кнопка "Отправить" -->
                <p align="center">
                    <input type="submit" class="btn btn-lg btn-primary" value="Посмотреть результат">
                </p>
            </form>
		</div>
    </body>
</html>
